<template>
  <require from="./str-to-int"></require>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <h2>House Price: ${price | showPrice:'$0.0a'}</h2>
        <form role="form" submit.delegate="predict()">
          <div class="form-group">
            <label>Bedrooms:</label>
            <input type="number" required class="form-control" value.bind="bedrooms | strToInt"
                   placeholder="Number of bedrooms" min="0">
          </div>

          <div class="form-group">
            <label>Bathrooms:</label>
            <input type="number" required class="form-control" value.bind="bathrooms | strToInt"
                    placeholder="Number of bathrooms" min="0">
          </div>

          <div class="form-group">
            <label>Sqft living</label>
            <input type="number" required class="form-control" value.bind="sqft_living | strToInt"
                   placeholder="Square foot of buildings" min="1">
          </div>

          <div class="form-group">
            <label>Sqft lot</label>
            <input type="number" required class="form-control" value.bind="sqft_lot | strToInt"
                   placeholder="Square foot of lot" min="1">
          </div>

          <div class="form-group">
            <label>Floors</label>
            <input type="number" required class="form-control" value.bind="floors | strToInt"
                   placeholder="Number of floors" min="1">
          </div>

          <button type="submit" class="btn bt-default">Enviar</button>
        </form>
      </div>
    </div>
  </div>



</template>
